<div class="content">
	<h3>Invoice details</h3>
	<br />
	<form [formGroup]="invoiceSettingsForm">
		<table class="main">
			<tr formArrayName="fields" *ngFor="let item of fields.controls; let i = index">
				<td>{{item.get("name")?.value}}</td>
				<td>
					<table [formGroupName]="i">
						<tr>
							<td>X:</td>
							<td><input id="{{'x'+i}}" type="number" formControlName="x"></td>
						</tr>
						<tr>
							<td>Y:</td>
							<td><input id="{{'y'+i}}" type="number" formControlName="y"></td>
						</tr>
						<tr>
							<td>Height:</td>
							<td><input id="{{'height'+i}}" type="number" formControlName="height"></td>
						</tr>
						<tr>
							<td>Width:</td>
							<td><input id="{{'width'+i}}" type="number" formControlName="width"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</form>
	<form [formGroup]="lineItemSettingsForm">
		<br /><br /><br />
		<h3>Line items</h3>
		<br />
		<table class="main">
			<tr>
				<td>Full box size</td>
				<td>
					<table>
						<tr>
							<td>Y min:</td>
							<td><input type="number" id="boxymin" formControlName="boxymin"></td>
						</tr>
						<tr>
							<td>Y max:</td>
							<td><input type="number" id="boxymax" formControlName="boxymax"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>Reference</td>
				<td>
					<table>
						<tr>
							<td>X min:</td>
							<td><input type="number" id="referencexmin" formControlName="referencexmin"></td>
						</tr>
						<tr>
							<td>X max:</td>
							<td><input type="number" id="referencexmax" formControlName="referencexmax"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>
					<table>
						<tr>
							<td>X min:</td>
							<td><input type="number" id="descriptionxmin" formControlName="descriptionxmin"></td>
						</tr>
						<tr>
							<td>X max:</td>
							<td><input type="number" id="descriptionxmax" formControlName="descriptionxmax"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>Quantity</td>
				<td>
					<table>
						<tr>
							<td>X min:</td>
							<td><input type="number" id="quantityxmin" formControlName="quantityxmin"></td>
						</tr>
						<tr>
							<td>X max:</td>
							<td><input type="number" id="quantityxmax" formControlName="quantityxmax"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>Unitary price</td>
				<td>
					<table>
						<tr>
							<td>X min:</td>
							<td><input type="number" id="unitarypricexmin" formControlName="unitarypricexmin"></td>
						</tr>
						<tr>
							<td>X max:</td>
							<td><input type="number" id="unitarypricexmax" formControlName="unitarypricexmax"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>Price</td>
				<td>
					<table>
						<tr>
							<td>X min:</td>
							<td><input type="number" id="pricexmin" formControlName="pricexmin"></td>
						</tr>
						<tr>
							<td>X max:</td>
							<td><input type="number" id="pricexmax" formControlName="pricexmax"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<br />
		<br />
		<button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
		<button class="btn btn-primary" (click)="onSubmit()">Save</button>
	</form>
</div>