<div class="content">
	<div class="fields">
		<h3>Invoice details</h3>
		<br />
		<form [formGroup]="invoiceSettingsForm">
			<table class="main">
				<tr formArrayName="fields" *ngFor="let item of invoiceFields.controls; let i = index">
					<td>{{item.get('name').value}}</td>
					<td>
						<table [formGroupName]="i" (click)="showBoundingBox(i)">
							<tr>
								<td>X:</td>
								<td><input id="{{item.get('name').value + '-x'}}" type="number" formControlName="x"></td>
							</tr>
							<tr>
								<td>Y:</td>
								<td><input id="{{item.get('name').value + '-y'}}" type="number" formControlName="y"></td>
							</tr>
							<tr>
								<td>Height:</td>
								<td><input id="{{item.get('name').value + '-height'}}" type="number" formControlName="height"></td>
							</tr>
							<tr>
								<td>Width:</td>
								<td><input id="{{item.get('name').value + '-width'}}" type="number" formControlName="width"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</form>
		<br /><br /><br />
		<h3>Line items</h3>
		<br />
		<form [formGroup]="lineItemSettingsForm">
			<table class="main">
				<tr formArrayName="fields" *ngFor="let item of lineItemFields.controls; let i = index">
					<td>{{item.get('name').value}}</td>
					<td *ngIf="item.get('name').value == 'Box'">
						<table [formGroupName]="i" (click)="showBoundingBox(i)">
							<tr>
								<td>Y:</td>
								<td><input id="{{item.get('name').value + '-y'}}" type="number" formControlName="y"></td>
							</tr>
							<tr>
								<td>Height:</td>
								<td><input id="{{item.get('name').value + '-height'}}" type="number" formControlName="height"></td>
							</tr>
						</table>
					</td>
					<td *ngIf="item.get('name').value != 'Box'">
						<table [formGroupName]="i" (click)="showBoundingBox(i)">
							<tr>
								<td>X:</td>
								<td><input id="{{item.get('name').value + '-x'}}" type="number" formControlName="x"></td>
							</tr>
							<tr>
								<td>Width:</td>
								<td><input id="{{item.get('name').value + '-width'}}" type="number" formControlName="width"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</form>
		<br />
		<br />
		<button id="save" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
		<button class="btn btn-primary" (click)="onSubmit()">Save</button>
	</div>
	<div class="invoicePreview">
		<div mat-dialog-content>
			<div>
				<input type="file" name="file" (change)="onFileChange($event)" />
			</div>
		</div>
		<app-preview #appPreview *ngIf="sampleFile" dataSource="Invoice" [file]="sampleFile"></app-preview>
	</div>
</div>
