<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
	<table>
		<tr>
			<td>
				Customer Number:
			</td>
			<td>
				<input id="customerNumber" type="text" formControlName="customerNumber">
			</td>
		</tr>
		<tr>
			<td>
				Last name:
			</td>
			<td>
				<input id="lastName" type="text" formControlName="lastName">
			</td>
		</tr>
		<tr>
			<td>
				First name:
			</td>
			<td>
				<input id="firstName" type="text" formControlName="firstName">
			</td>
		</tr>
		<tr>
			<td>
				Email:
			</td>
			<td>
				<input id="email" type="text" formControlName="email">
			</td>
		</tr>
		<tr>
			<td>
				Phone number:
			</td>
			<td>
				<input id="phoneNumber" type="text" formControlName="phoneNumber">
			</td>
		</tr>
		<tr>
			<td>
				Mobile phone number:
			</td>
			<td>
				<input id="mobilePhoneNumber" type="text" formControlName="mobilePhoneNumber">
			</td>
		</tr>
		<tr>
			<td>
				Address:
			</td>
			<td>
				<textarea id="address" formControlName="address" cols=35 rows=4></textarea>
			</td>
		</tr>
		<tr class="buttons">
			<td>
				<button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
			</td>
			<td>
				<button class="btn btn-primary">Create</button>
			</td>
		</tr>
	</table>
</form>