table
{
	width: 600px;
}

td
{
	padding: 10px;
	vertical-align: top;
}

input[type="text"]
{
	width: 300px;
}

input[type="radio"]
{
	margin-left: 10px;
	margin-right: 10px;
}

tr.buttons td
{
	text-align: center;
}