<div class="content">
	<h5>Extraction</h5>
	<form [formGroup]="invoiceSettingsForm" (ngSubmit)="onSubmit()">
		<table class="main">
			<tr>
				<td>Invoice number:</td>
				<td>
					<table>
						<tr>
							<td>X:</td>
							<td formGroupName="invoiceNumber"><input id="x" type="text" formControlName="x"></td>
						</tr>
						<tr>
							<td>Y:</td>
							<td formGroupName="invoiceNumber"><input id="y" type="text" formControlName="y"></td>
						</tr>
						<tr>
							<td>Height:</td>
							<td formGroupName="invoiceNumber"><input id="height" type="text" formControlName="height"></td>
						</tr>
						<tr>
							<td>Width:</td>
							<td formGroupName="invoiceNumber"><input id="width" type="text" formControlName="width"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr class="buttons">
				<td>
					<button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
				</td>
				<td>
					<button class="btn btn-primary">Save</button>
				</td>
			</tr>
		</table>
	</form>
</div>