<div class="content">
	<form [formGroup]="clearAllForm" (ngSubmit)="onSubmit()">
		<div>
			<table>
				<tr>
					<td>{{ "Modules.ClearAll.Customers" | translate }}:</td>
					<td><input type="checkbox" id="customers" formControlName="customers" /></td>
				</tr>
				<tr>
					<td>{{ "Modules.ClearAll.Invoices" | translate }}:</td>
					<td><input type="checkbox" id="invoices" formControlName="invoices" /></td>
				</tr>
				<tr>
					<td>{{ "Modules.ClearAll.ExtractionSettings" | translate }}:</td>
					<td><input type="checkbox" id="extractionSettings" formControlName="extractionSettings" /></td>
				</tr>
			</table>
		</div>
		<div class="buttons">
			<button class="btn btn-secondary" (click)="onCancel()">{{ "Modules.ClearAll.Cancel" | translate }}</button>
			<button class="btn btn-primary">{{ "Modules.ClearAll.Clear" | translate }}</button>
		</div>
	</form>
</div>
