<mat-toolbar>
	<span [routerLink]="['/']" class="item">TheCompany</span>
	<span class="filler"></span>
	<span *ngIf="guest" [routerLink]="['/Login']" class="item" id="signin">Log in</span>
	<span *ngIf="guest" [routerLink]="['/SignUp']" class="item" id="signup">Sign up</span>
	<span *ngIf="!guest" (click)="logout()" class="item material-icons exit" id="logout">logout</span>
</mat-toolbar>
<mat-sidenav-container>
	<mat-sidenav #sidenav mode="side" [opened]="!guest">
		<mat-nav-list>
			<span *ngFor="let item of menu">
				<span *ngIf="item.childrens && item.childrens.length > 0">
					<mat-accordion>
						<mat-expansion-panel id="expansionPanel" class="mat-elevation-z0">
							<mat-expansion-panel-header>
								<mat-panel-title id="{{item.name}}">
									<div>{{item.name}}</div>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<span *ngFor="let child of item.childrens">
								<mat-list-item [routerLink]="child.route" id="{{child.name}}">
									<div>{{child.name}}</div>
								</mat-list-item>
							</span>
						</mat-expansion-panel>
					</mat-accordion>
				</span>
				<span *ngIf="!item.childrens || item.childrens.length === 0">
					<mat-list-item [routerLink]="item.route" id="{{item.name}}">
						<div>{{item.name}}</div>
					</mat-list-item>
				</span>
			</span>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
