<div class="content">
	<div class="invoiceFields">
		<h4>Invoice details</h4>
		<form [formGroup]="invoiceForm">
			<table>
				<tr *ngFor="let field of invoiceData | keyvalue">
					<td>{{field.key}}</td>
					<td><input type="text" [readonly]="!editMode" id="{{field.key}}" value="{{field.value}}" formControlName="{{field.key}}" size="50" (focus)="onFocus($event.target)" /></td>
				</tr>
			</table>
			<br /><br />
			<h4>Line items</h4>
		</form>
		<form [formGroup]="lineItemsForm">
			<app-view-list dataSource="InvoiceLineItem" [filters]="filters" [fields]="['Reference','Description','Quantity','UnitaryPrice','Price']" [editMode]="editMode" [linesForm]="lineItemsForm" (focusEvent)="onFocus($event)"></app-view-list>
		</form>
		<br /><br />
		<div class="buttons">
			<button class="btn btn-primary" (click)="setEditMode()" *ngIf="!editMode">Edit</button>
			<button class="btn btn-secondary" (click)="cancel()" *ngIf="editMode">Cancel</button>
			<button class="btn btn-primary" (click)="save()" *ngIf="editMode">Save</button>
		</div>
	</div>
	<div class="invoicePreview" (focus)="onFocus($event.target)">
		<app-preview dataSource="Invoice" [id]="id" [page]="page" (extractedTextEvent)="fillExtractedText($event)"></app-preview>
	</div>
</div>