<div class="content">
	<div class="invoiceFields">
		<h4>Invoice details</h4>
		<form [formGroup]="invoiceForm">
			<table>
				<tr *ngFor="let field of invoiceData">
					<td class="fieldName">{{field.name}}</td>
					<td><app-field type="{{field.type}}" [form]="invoiceForm" key="{{field.name}}" [editMode]="editMode" (focusEvent)="onFocus($event)"></app-field></td>
				</tr>
			</table>
		</form>
		<br /><br />
		<h4>Line items</h4>
		<form [formGroup]="lineItemsForm">
			<app-view-list dataSource="LineItem" [filters]="filters" [fields]="['Reference','Description','Quantity','UnitaryPrice','Price']" [editMode]="editMode" [linesForm]="lineItemsForm" (focusEvent)="onFocus($event)"></app-view-list>
		</form>
		<br /><br />
		<div class="buttons">
			<button class="btn btn-primary" (click)="setEditMode()" *ngIf="!editMode">Edit</button>
			<button class="btn btn-secondary" (click)="cancel()" *ngIf="editMode">Cancel</button>
			<button class="btn btn-primary" (click)="save()" *ngIf="editMode">Save</button>
		</div>
	</div>
	<div class="invoicePreview">
		<app-preview dataSource="Invoice" [id]="id" [page]="page" (extractedTextEvent)="fillExtractedText($event)"></app-preview>
	</div>
</div>
