<div class="content">
	<div class="customerFields">
		<h4>{{ "Modules.Customers.CustomerDetails" | translate }}</h4>
		<app-layout [form]="customerForm" [fieldsData]="customerData" [editMode]="editMode"></app-layout>
		<br /><br />
		<div class="buttons">
			<button id="edit" class="btn btn-primary" (click)="setEditMode()" *ngIf="!editMode">{{ "Modules.Customers.Edit" | translate }}</button>
			<button class="btn btn-secondary" (click)="cancel()" *ngIf="editMode">{{ "Modules.Customers.Cancel" | translate }}</button>
			<button id="save" class="btn btn-primary" (click)="save()" *ngIf="editMode">{{ "Modules.Customers.Save" | translate }}</button>
		</div>
	</div>
</div>
