<div class="content">
	<h4>Line item</h4>
	<form [formGroup]="lineItemForm">
		<table>
			<tr *ngFor="let field of lineItemData">
				<td class="fieldName">{{field.name}}</td>
				<td><app-field type="{{field.type}}" [form]="lineItemForm" key="{{field.name}}" [editMode]="true"></app-field></td>
			</tr>
			<tr class="buttons">
				<td>
					<button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
				</td>
				<td>
					<button class="btn btn-primary" (click)="onSubmit()">Create</button>
				</td>
			</tr>
		</table>
	</form>
</div>
